a {
    color: rgba(82, 191, 55, 1);
}

a:hover {
    color: rgba(82, 191, 55, 0.60);
    text-decoration: none;
}

.catLink {
    color: black;
}

.catLink:hover {
    color: #52bf37;
    transition: all 0.5s;
}