@import url('https://fonts.googleapis.com/css?family=Palanquin');





.container {
    max-width: 1150px;
}

a {
    color: rgba(82, 191, 55, 1);
}

a:hover {
    color: rgba(82, 191, 55, 0.60);
    text-decoration: none;
}

body {
    background-color: #f8f9fa;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

p {
    padding: 0;
    margin: 0;
}

.xx {
    margin-top: 30px;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-brand {
    color: rgba(82, 191, 55, 0.72);
    font-size: 40px;
    font-family: fantasy;
}

.fa-cart-arrow-down {
    font-size: 32px;
    color: rgba(82, 191, 55, 0.72);
}

.navbar-light .navbar-nav .nav-link {
    margin-left: 40px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 800;
}

.navbar-nav .dropdown-menu {
    transition: all 1s;
}

.dropdown-item {
    transition: all 1s;
}

/*.dropdown:hover .dropdown-menu {
    display: block;

}*/

/*.dropdown:hover .dropdown-toggle::after {
    transform: rotate(180deg);
}*/

/*banners*/
#banner {
    margin-top: 80px;
}

#categories {
    margin-top: 0px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: black;
    text-decoration: none;
}

/*footer*/

#footer {
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: rgba(192, 189, 195, 0.48);
}

#footer .logo {
    color: rgba(82, 191, 55, 0.72);
    font-size: 40px;
    font-family: fantasy;
}

/*author*/

.x {
    background-color: white;
}

.x:hover {
    background-color: #f8f9fa;
    transition: all 0.5s;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

/*  Slick Slider */

.img_center img {
    margin: 0 auto;
}

.bookOff {
    color: red;
}

.hideOff {
    display: none;
}

.bookTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

.authorTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: gray;
}

.bookPrice {
    color: black;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(251, 251, 251, 0.30);
    color: #000000;
    opacity: 0;
    transition: all 0.7s;
    border: 1px solid #eeeeee;
}

.overlay:hover {
    opacity: 1;
    box-shadow: inset 0 0 7px 0 #cdcdcd;

}

.addToCartBtn a {

    color: white !important;

}

.addToCartBtn {
    margin-top: 10px;

}

/*

Authentication: Shuvo & Forkan

*/

/*new css*/

.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #6b8561;

}

.form-control {
    border: none;

    border-bottom: 2px solid #a4cc95;
    border-radius: 0px;

}

/*label
{
    font-family: 'Aleo', serif;
}*/
input[type=checkbox] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #686b6b;

    padding: 7px;

    border-radius: 5px 0 0 0;

}

input[type=checkbox]:checked:after {
    content: '\2714';
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: -3px;
    left: 2px;
    color: #49822e;
    border: none;
}

input:focus {
    outline: none;
}

.auth_btn {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid green;
    color: black;
    margin-top: 10px;

}

.auth_btn:hover {
    background-color: green;

    color: white;
}

.navBarDropDown {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 120px;
    display: inline-block;
}

/*   Sreach page Css*/

/*custom Radio button*/

#searchItems [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

#searchItems [type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

#searchItems [type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

#searchItems [type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #83d177;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#searchItems [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

#searchItems [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*dgdfg*/

/**
 * Create the slider bar
 */

.r {
    position: absolute;
    margin-left: 40px;

}

#searchItems input[type=checkbox] {
    visibility: hidden;
}

#searchItems .checkboxTwo {

    margin: 20px 0;

    position: relative;
}

/**
 * Create the slider from the label
 */
#searchItems .checkboxTwo:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 14px;
    height: 2px;
    width: 28px;
    background: #c5c5c5;
}

#searchItems .checkboxTwo label {

    width: 18px;
    height: 18px;
    border-radius: 50%;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 12px;
    background: #cccccc;
}

#searchItems .checkboxTwo input[type=checkbox]:checked + label {
    left: 30px;
    background: #83d177;
}

#searchItems .scroll {
    max-height: 315px;
    overflow-y: auto;
}

/*.breadcrumb*/
#searchItems .breadcrumb {
    background-color: white !important;
    font-size: 14px;
    padding: 10px !important;
}

/*items*/
#searchItems .item {
    position: relative;
}

#searchItems .items a {
    text-decoration: none;
    color: black;

}

#searchItems .items a:hover {
    text-decoration: none;
    color: black;
}

#searchItems .opacity {
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 25%;
    color: black;
    font-weight: bold;
    background-color: #52bf37;
    transition: all 1s;
}

#searchItems span {
    font-size: 14px;
}

#searchItems .text_author_name {
    color: #b4b4b4;
    font-size: 14px;
}

/*price range*/

.ui-slider .ui-slider-range {
    background-color: #83d177;
}

.ui-slider span {
    margin-top: -2px;
}

/* Author, Category, Publisher Link color, hover */
.catLink {
    color: black;
}

.catLink:hover {
    color: #52bf37;
    transition: all 0.5s;
}

.catLink > img:hover {
    border: 1px solid #52bf37;
    transition: all 1s;
}

.rounded-circle {
    border: 1px solid white;
}

.page-link {
    color: #52bf37;
}

.btn-success {
    background-color: #83d177;
    border-color: #83d177;
}

.btn-success:hover {
    background-color: #65a55b;
    border-color: #65a55b;
}

.btn-outline-success:hover {
    background-color: #83d177;
    border-color: #83d177;
}

.nav-link {
    color: black;
    transition: all 0.5s;
}

/* Auto Complete - Jquery UI*/

/*book design */

/*.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.showContent {
    line-height: 1em;
    height: auto;
}*/

.overlayNew {
    width: 60%;
    padding: 15px 0;
    transition: all 0.7s;
    margin: 0 auto;

}

.overlayNew:hover {
    background-color: rgba(251, 251, 251, 0.30);
    box-shadow: inset 0 0 7px 0 #cdcdcd;

}

.button {

    color: #dedede;
    background-color: rgb(131, 184, 102);
    width: 100%;

}

.button:hover {
    color: black;
}

.buttonView {

    color: #dedede;
    background-color: rgb(56, 132, 184);
    width: 81%;

}

.product-image9 > a:hover {
    color: black;
}

.product-content > a:hover {
    color: black;
}

h3.h3 {
    text-align: center;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1.7em;
}

/********************* Shopping Demo-9 **********************/
.product-grid9, .product-grid9 .product-image9 {
    position: relative
}

.product-grid9 {
    z-index: 1;
    width: 80%;
    padding: 20px;
}

.product-grid9 .product-image9 a {
    display: block;

}

.product-grid9 .product-image9 img {


    height: auto;
}

.product-grid9 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

/*.product-grid9:hover .pic-1 {*/
/*opacity: 0*/
/*}*/

.product-grid9 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.product-grid9:hover .pic-2 {
    opacity: 1
}

.product-grid9 .product-full-view {
    opacity: 0;
    position: absolute;
    top: 50%;

    transition: all .3s ease 0s;

}

/*        .product-grid9 .product-full-view:hover {
            color: #c0392b
        }*/

.product-grid9:hover .product-full-view {
    opacity: 1
}

.product-grid9 .product-content {
    padding: 12px 12px 0;
    overflow: hidden;
    position: relative
}

.product-content .rating {
    padding: 0;
    margin: 0 0 7px;
    list-style: none
}

.product-grid9 .rating li {
    font-size: 12px;
    color: #ffd200;
    transition: all .3s ease 0s
}

.product-grid9 .rating li.disable {
    color: rgba(0, 0, 0, .2)
}

.product-grid9 .title {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 3px;
    transition: all .3s ease 0s
}

.product-grid9 .title a {
    color: black;
}

.product-grid9 .title a:hover {
    color: #c0392b
}

.product-grid9 .price {
    color: #000;
    font-size: 17px;
    margin: 0;
    display: block;
    transition: all .5s ease 0s
}

.product-grid9:hover .price {
    opacity: 0
}

.product-grid9 .add-to-cart {
    opacity: 0;
    position: absolute;
    bottom: -20px;
    transition: all .5s ease 0s

}

.product-grid9:hover .add-to-cart {
    opacity: 1;
    bottom: 0
}

@media only screen and (max-width: 990px) {
    .product-grid9 {
        margin-bottom: 30px
    }
}


